@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Raleway", sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 40px; 
}

.resume-container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px; 
    align-items: flex-start; 
}

.left-column {
    position: relative;
    width: 30%;
    padding-left: 10px; 
    padding-right: 10px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    margin-top: 15%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h1 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2; 
    text-align: center; 
    font-size: 40px;
    margin-top: 15px;
}

.profile h2 {
    font-size: 15px;
    color: #8b8b8b;
    font-family: "Raleway", sans-serif;
}

.contact {
    margin: 15% 5%;
}

.contact-info .email {
    font-size: 12px;
    margin-top: 80px;
}

.contact-info .email img {
    width: 19px; 
    height: 19px; 
    margin-right: 2px; 
}


.contact-info p {
    font-size: 16px;
    margin: 25px 0;
    color: #8d8b8b;
    font-family: "Raleway", sans-serif;
}

.contact-info img {
    width: 23px;
    height: 23px;
    margin-right: 2px;
    vertical-align: middle;
}

.technical-skills {
    width: 100%; 
    margin: 5%;
}

.technical-skills h3 {
    margin-top: 150px;
    margin-bottom: 20px;
}

.technical-skills ul {
    list-style: none;
}

.technical-skills ul li {
    font-size: 14px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.skill-text {
    flex-basis: 30%; 
    text-align: left; 
    margin-right: 20px;
}

.skill-level {
    flex-basis: 70%; 
    display: flex;
    justify-content: flex-start; 
    gap: 17px; 
}

.square {
    width: 6px;
    height: 6px;
    background-color: #ddd; 
}

.square.filled {
    background-color: black; 
}

.right-column {
    width: 70%;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.education h3 {
    margin-top: 10%;
    font-size: 18px;
    margin-bottom: 15px;
}

.professional-summary h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.employment h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 60px;
    font-size: 22px;
    margin-bottom: 5px;
}

.professional-summary p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-details {
    flex-grow: 1;
}

.job-time-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.job-time {
    text-align: right;
    font-size: 14px;
    color: #777;
    min-width: 100px; 
}

.timeBold {
    font-weight: bold;
    text-align: right;
    margin-bottom: 2px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    margin-left: 20px;
}

.ficon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.job h4,
.degree h4 {
    margin-top: 5%;
    font-size: 16px;
    margin-bottom: 5px;
}

.job p,
.degree p {
    margin-top: 2%;
    font-size: 14px;
    color: #777;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-top: 40px;
}

